header {
    background-color:grey;
    padding:15px;
    text-align:center;
    font-size:50px;
    border:2px solid black;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
}
li {
    float:left;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    background-color:darkgray;
}
li a:active {
    background-color:darkgray;
}
h2 {
    font-style:italic;
    font-size:25px;
    text-decoration-line:underline;
}